html {
    background: url(bg3.jpg);
    font-family: 'Microsoft New Tai Lue';
    background-size: cover;
    background-repeat: none;
}
a {
    color: rgb(228, 228, 228);
    text-decoration: none;
    font-size: 14px;
    padding: 14px 10px;
}
ul {
    padding: 14px;
    text-align: center;
}
#loginnavigation {
    margin-left: 50rem;
    text-align: right;
}
#signupnavigation {
    text-align: right;
}
li {
    list-style: none;
    display: inline;
}
#navigationbar {
    height: 50px;
}
section {
    text-align: left;
    font-weight: bold;
    color: rgb(248, 252, 255);
    padding: 3rem 3rem 3rem 3rem;
    margin-right: 28rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
    margin-left: 5rem;
}
div {
    font-size: 30px;
}